{
  "presets": [
    ["@babel/preset-env", {
      "loose": false,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}